.header{
  text-align: center;
  margin: auto;
  width: 50%;
  padding: 10px;
}
.content1{
    text-align: center;
}
.foot{
       text-align: center;
        margin: auto;
        width: 50%;
        padding: 10px;
}